body {
    margin: 0;
}

.greeting-page__div-wrapper {
    background-color: #171717;
    height: 100vh;
}

.account-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 0 15px 0 15px;
    background-color: #171717;
    flex-direction: row;
}

.account-navbar__image-div {
    display: flex;
    align-items: center;
}

.account-navbar__image {
    width: 4vw;
    padding-left: 1rem;
}

.account-navbar__logo-title {
    font-size: 23px;
    padding-left: 2rem;
    color: white;
    margin-right: auto;
}

.account-navbar__buttons {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.account-navbar__sign-up-button,
.account-navbar__login-in-button {
    padding: 7px 15px 7px 15px;
    margin: 15px;
    background-color: black;
    font-size: 14px;
}

.greeting-page__content {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.greeting-page__div-text-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    justify-content: flex-end;
    height: 87vh;
    max-width: 40%;
}

.greeting-page__title {
    color: white;
    font-size: 45px;
}

.greeting-page__big-logo {
    width: 30vw;
    height: 30vw;
}

.greeting-page__div-paragraph-quote {
    color: white;
    font-size: 28px;
    text-align: justify;
}

.greeting-page__div-paragraph-author {
    color: white;
    font-size: 25px;
    text-align: right;
}

.greeting-page__div-greeting-logo {
    margin-left: auto;
    align-self: center;
    display: flex;
}
