.div-login-in-form {
    background-image: url(../../../resources/img/nightsky1.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.login-in-form {
    margin: 0 auto;
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, .8);
    font-family: 'Work Sans', sans-serif;
    margin-top: 9%;
    opacity: 0;
}

.appear {
    opacity: 1;
    transition: 0.4s;
}

.login-in-form__titles {
    text-align: center;
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    color: white;
}

.login-in-form__inputs {
    flex-direction: column;
    display: flex;
    width: 75%;
}

.login-in-form__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 55%;
}

.sign-up-form__inputs-item {
    padding: 7px 5px;
    margin: 5px 0px;
    color: #fff;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}

.sign-up-form__inputs-item:focus {
    border: none;
    border-bottom: 1px solid #0fc3f5;
    transform: translateY(-2px);
}

.sign-up-form__buttons-item {
    margin: 5px 0px;
    padding: 10px 0px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: medium none;
    background-image: none;
    background: #0fc3f5;
    float: left;
    transition: background 0.5s ease-in-out;
}

.sign-up-form__buttons-item:hover {
    background: #444fd9;
    transition-delay: 0.07s;
}

.sign-up-form__error {
    color: red;
    margin: 5px 5px 10px 5px;
}

.sign-up-form__success {
    color: green;
    margin: 5px 5px 10px 5px;
}
