@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.main-page__div-wrapper {
    background-image: url(../../../resources/img/nightsky1.gif);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-page__div-titles-wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
}

.main-page__title {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.main-page__div-title {
    width: 65%;
    margin: 0 auto;
}

.main-page__div-second-title {
    font-size: 21px;
    color: white;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-top: 7%;
    padding-right: 50px;
}

.main-page__div-third-title {
    color: white;
    font-size: 22px;
    width: 50%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    align-self: center;
}

.main-page__navbar-button-explore,
.main-page__navbar-button-log-out,
.main-page__navbar-button-home {
    padding: 7px 15px 7px 15px;
    margin: 15px;
    background-color: black;
}
