@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@700&display=swap');

.solar-system-page__div-content {
    position: relative;
    height: 100vh;
    background-color: black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.solar-system-page__div-image {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.solar-system-page__image {
    height: 350px;
    width: 700px;
    margin: 0 auto;
}

.solar-system-page__info {
    font-family: 'Petrona', serif;
    line-height: 1.1;
    font-size: 18px;
    margin: 0 auto;
    align-self: auto;
    text-align: center;
    color: white;
    padding: 40px 20px 40px 20px;
    width: 70%;
}

.fa,
.fas,
.fa-angle-left,
.fa-angle-left {
    color: white;
    margin: 10px;
}

.solar-system-page__title {
    color: white;
    text-align: center;
    font-size: 30px;
}

.solar-system-page__slider-content {
    height: 70vh;
    padding-top: 8vh;
}
